<template>
  <div class="main_container">
      <div class="side_bar">
            <img src="https://cdn.icon-icons.com/icons2/1879/PNG/512/iconfinder-8-avatar-2754583_120515.png">
            <p>Tanabordee Boonchan</p>

            <div class="btn_menu">
               <ul>
                   <li>หน้าหลัก</li>
                   <li>ตั้งค่า</li>
                   <li>แผงควบคุม</li>
                   <li>รายงาน</li>
               </ul>
            </div>
      </div>
      <div class="content">
          <div class="head">
              <div>หน้าหลัก</div>
              <div>
                  <button>TH</button>
              </div>
          </div>

          <div class="section">
              <div class="detail">
                  <div class="item_left">
                      <b>สถานะที่จอดรถ</b>
                      <br/>
                      <p>อัพเดทข้อมูลล่าสุด : 10/01/2020 06:48:36</p>
                  </div>
                  <div class="item_center">
                      <button>I</button>
                      <label>รถเข้า : 0</label>
                      <button>I</button>
                      <label>รถออก : 0</label>
                  </div>
                  <div class="item_right">
                      <button>เปิด - ปิด ที่จอดรถ</button>
                  </div>
              </div>
              <div class="status">
                  <div class="item1">
                      <div class="circle"></div>
                      <label>จำนวนที่ว่าง : 3</label>
                  </div>
                  <div class="item2">
                      <div class="circle"></div>
                      <label>จำนวนที่ว่าง : 2</label>
                  </div>
                  <div class="item3">
                      <div class="circle"></div>
                      <label>จำนวนที่ว่าง : 2</label>
                  </div>
                  <div class="item4">
                      <div class="circle"></div>
                      <label>จำนวนที่ว่าง : 2</label>
                  </div>
              </div>
          </div>

<div class="all_section">
          <div class="section_1">
              <div class="item1">
                  <div class="card1">
                      <div class="top">
                          <b>แถวที่ <br/> PKS-1</b>
                      </div>
                      <div class="bottom">
                          0
                      </div>
                  </div>
              </div>
              <div class="item2">
                  <div class="card2">
                      <div class="top">
                          <b>ช่องที่ <br/> PKS-1-1</b>
                      </div>
                      <div class="bottom">
                          ขาดการเชื่อมต่อ
                      </div>
                  </div>
              </div>
              <div class="item3">
                  <div class="card3">
                      <div class="top">
                          <b>ช่องที่ <br/> PKS-1-2</b>
                      </div>
                      <div class="bottom">
                          ขาดการเชื่อมต่อ
                      </div>
                  </div>
              </div>
              <div class="item4">
                  <div class="card4">
                      <div class="top">
                          <b>ช่องที่ <br/> PKS-1-3</b>
                      </div>
                      <div class="bottom">
                          จองแล้ว
                      </div>
                  </div>
              </div>
              <div class="item5">
                  <div class="card5">
                      <div class="top">
                          <b>ช่องที่ <br/> PKS-1-4</b>
                      </div>
                      <div class="bottom">
                          กำลังจอด
                      </div>
                  </div>
              </div>
          </div>

          <div class="section_2">
              <div class="item1">
                  <div class="card1">
                      <div class="top">
                          <b>แถวที่ <br/> PKS-2</b>
                      </div>
                      <div class="bottom">
                          1
                      </div>
                  </div>
              </div>
              <div class="item2">
                  <div class="card2">
                      <div class="top">
                          <b>ช่องที่ <br/> PKS-2-1</b>
                      </div>
                      <div class="bottom">
                          จองแล้ว
                      </div>
                  </div>
              </div>
              <div class="item3">
                  <div class="card3">
                      <div class="top">
                          <b>ช่องที่ <br/> PKS-2-2</b>
                      </div>
                      <div class="bottom">
                          กำลังจอด
                      </div>
                  </div>
              </div>
          </div>
          <div class="section_3">
              <div class="item1">
                  <div class="card1">
                      <div class="top">
                          <b>แถวที่ <br/> PKS-3</b>
                      </div>
                      <div class="bottom">
                          1
                      </div>
                  </div>
              </div>
              <div class="item2">
                  <div class="card2">
                      <div class="top">
                          <b>ช่องที่ <br/> PKS-3-1</b>
                      </div>
                      <div class="bottom">
                          ว่าง
                      </div>
                  </div>
              </div>
              <div class="item3">
                  <div class="card3">
                      <div class="top">
                          <b>ช่องที่ <br/> PKS-3-2</b>
                      </div>
                      <div class="bottom">
                          กำลังจอด
                      </div>
                  </div>
              </div>
          </div>
          <div class="section_4">
              <div class="item1">
                  <div class="card1">
                      <div class="top">
                          <b>แถวที่ <br/> PKS-4</b>
                      </div>
                      <div class="bottom">
                          1
                      </div>
                  </div>
              </div>
              <div class="item2">
                  <div class="card2">
                      <div class="top">
                          <b>ช่องที่ <br/> PKS-4-1</b>
                      </div>
                      <div class="bottom">
                          ว่าง
                      </div>
                  </div>
              </div>
          </div>
          </div>
      </div>
  </div>
</template>

<script>
export default {

}
</script>

<style lang="scss">
.main_container{
    display: grid;
    grid-template-columns: 15% 85%;
    button{
        cursor: pointer;
        outline: none;
    }

    .side_bar{
        img{
            width: 200px;
            margin: auto;
            display: block;
        }
        p{
            text-align: center;
        }
    }

    .content{
        background: rgb(71, 71, 71);
        color:#fff;
        .head{
            display: grid;
            grid-template-columns: 90% 10%;
            background: #000;
            color: #fff;
            padding: 20px;
            position: sticky;
            top: 0;
            z-index: 99;
        }
        .section{
            .detail{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                padding: 20px;
                .item_center{
                    margin: 0 auto;
                    button:nth-child(1){
                        background: rgb(58, 150, 255);
                        padding: 15px 20px;
                        border: none;
                        border-radius: 10px;
                        margin: 0 10px;
                    }
                    button:nth-child(3){
                        background: rgb(160, 160, 160);
                        padding: 15px 20px;
                        border: none;
                        border-radius: 10px;
                        margin: 0 10px;
                    }
                }
                .item_right{
                    margin: 0 0 0 auto;
                    button{
                        background: rgb(58, 150, 255);
                        padding: 15px 20px;
                        border: none;
                        border-radius: 10px;
                        margin: 0 10px;
                        color: #fff;
                    }
                }
            }
            .status{
                display: grid;
                grid-template-columns: 200px 200px 200px 200px ;
                margin: 20px;
                .item1{
                    display: grid;
                    grid-template-columns: auto auto;
                    .circle{
                        width: 30px;
                        height: 30px;
                        background-color: green;
                        border-radius: 100%;
                    }
                    label{
                        margin: 5px 0;
                    }
                }
                .item2{
                    display: grid;
                    grid-template-columns: auto auto;
                    .circle{
                        width: 30px;
                        height: 30px;
                        background: rgb(58, 150, 255);
                        border-radius: 100%;
                    }
                    label{
                        margin: 5px 0;
                    }
                }
                .item3{
                    display: grid;
                    grid-template-columns: auto auto;
                    .circle{
                        width: 30px;
                        height: 30px;
                        background-color: rgb(141, 141, 141);
                        border-radius: 100%;
                    }
                    label{
                        margin: 5px 0;
                    }
                }
                .item4{
                    display: grid;
                    grid-template-columns: auto auto;
                    .circle{
                        width: 30px;
                        height: 30px;
                        background-color: red;
                        border-radius: 100%;
                    }
                    label{
                        margin: 5px 0;
                    }
                }
            }
        }

        .section_1{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            padding: 20px;
            grid-gap: 10px;
            .item1{
                .card1{
                    display: grid;
                    grid-template-rows: 1fr 1fr;
                    border: 1px solid #fff;
                    border-radius: 2px;
                    .top{
                        background-color: rgb(106, 106, 165);
                        text-align: center;
                        padding: 20px 0px;
                    }
                    .bottom{
                        background-color: #fff;
                        color:#000;
                        text-align: center;
                        padding: 20px 0px;
                    }
                }
            }
            .item2 , .item3{
                .card2 , .card3{
                    display: grid;
                    grid-template-rows: 1fr 1fr;
                    border: 1px solid #fff;
                    border-radius: 2px;
                    .top{
                        background-color: rgb(180, 21, 48);
                        text-align: center;
                        padding: 20px 0px;
                    }
                    .bottom{
                        background-color: #fff;
                        color:#000;
                        text-align: center;
                        padding: 20px 0px;
                    }
                }
            }
            .item4{
                .card4 {
                    display: grid;
                    grid-template-rows: 1fr 1fr;
                    border: 1px solid #fff;
                    border-radius: 2px;
                    .top{
                        background-color: rgb(83, 83, 83);
                        text-align: center;
                        padding: 20px 0px;
                    }
                    .bottom{
                        background-color: #fff;
                        color:#000;
                        text-align: center;
                        padding: 20px 0px;
                    }
                }
            }
            .item5{
                .card5 {
                    display: grid;
                    grid-template-rows: 1fr 1fr;
                    border: 1px solid #fff;
                    border-radius: 2px;
                    .top{
                        background: rgb(58, 150, 255);
                        text-align: center;
                        padding: 20px 0px;
                    }
                    .bottom{
                        background-color: #fff;
                        color:#000;
                        text-align: center;
                        padding: 20px 0px;
                    }
                }
            }
            
        }
        .section_2{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            padding: 20px;
            grid-gap: 10px;
            .item1{
                .card1{
                    display: grid;
                    grid-template-rows: 1fr 1fr;
                    border: 1px solid #fff;
                    border-radius: 2px;
                    .top{
                        background-color: rgb(106, 106, 165);
                        text-align: center;
                        padding: 20px 0px;
                    }
                    .bottom{
                        background-color: #fff;
                        color:#000;
                        text-align: center;
                        padding: 20px 0px;
                    }
                }
            }
            .item2{
                .card2{
                    display: grid;
                    grid-template-rows: 1fr 1fr;
                    border: 1px solid #fff;
                    border-radius: 2px;
                    .top{
                        background-color: rgb(83, 83, 83);
                        text-align: center;
                        padding: 20px 0px;
                    }
                    .bottom{
                        background-color: #fff;
                        color:#000;
                        text-align: center;
                        padding: 20px 0px;
                    }
                }
            }
            .item3{
                .card3{
                    display: grid;
                    grid-template-rows: 1fr 1fr;
                    border: 1px solid #fff;
                    border-radius: 2px;
                    .top{
                        background-color: green;
                        text-align: center;
                        padding: 20px 0px;
                    }
                    .bottom{
                        background-color: #fff;
                        color:#000;
                        text-align: center;
                        padding: 20px 0px;
                    }
                }
            }
        }
        .section_3{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            padding: 20px;
            grid-gap: 10px;
            .item1{
                .card1{
                    display: grid;
                    grid-template-rows: 1fr 1fr;
                    border: 1px solid #fff;
                    border-radius: 2px;
                    .top{
                        background-color:rgb(106, 106, 165);;
                        text-align: center;
                        padding: 20px 0px;
                    }
                    .bottom{
                        background-color: #fff;
                        color:#000;
                        text-align: center;
                        padding: 20px 0px;
                    }
                }
            }
            .item2{
                .card2{
                    display: grid;
                    grid-template-rows: 1fr 1fr;
                    border: 1px solid #fff;
                    border-radius: 2px;
                    .top{
                        background-color:green;
                        text-align: center;
                        padding: 20px 0px;
                    }
                    .bottom{
                        background-color: #fff;
                        color:#000;
                        text-align: center;
                        padding: 20px 0px;
                    }
                }
            }
            .item3{
                .card3{
                    display: grid;
                    grid-template-rows: 1fr 1fr;
                    border: 1px solid #fff;
                    border-radius: 2px;
                    .top{
                        background: rgb(58, 150, 255);
                        text-align: center;
                        padding: 20px 0px;
                    }
                    .bottom{
                        background-color: #fff;
                        color:#000;
                        text-align: center;
                        padding: 20px 0px;
                    }
                }
            }
            
        }
        .section_4{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            padding: 20px;
            grid-gap: 10px;
            .item1{
                .card1{
                    display: grid;
                    grid-template-rows: 1fr 1fr;
                    border: 1px solid #fff;
                    border-radius: 2px;
                    .top{
                        background-color:rgb(106, 106, 165);;
                        text-align: center;
                        padding: 20px 0px;
                    }
                    .bottom{
                        background-color: #fff;
                        color:#000;
                        text-align: center;
                        padding: 20px 0px;
                    }
                }
            }
            .item2{
                .card2{
                    display: grid;
                    grid-template-rows: 1fr 1fr;
                    border: 1px solid #fff;
                    border-radius: 2px;
                    .top{
                        background-color:green;
                        text-align: center;
                        padding: 20px 0px;
                    }
                    .bottom{
                        background-color: #fff;
                        color:#000;
                        text-align: center;
                        padding: 20px 0px;
                    }
                }
            }            
        }
        
        .all_section{
            border: 2px solid #fff;
            margin: 20px;
            
        .item2:hover, .item3:hover, .item4:hover, .item5:hover{
            cursor: pointer;
            outline: 5px solid grey;
            
        }

        }

    }
}
</style>
